.cart-container h1{
  padding-left: 9.8rem;
}
.cart-row{
  padding: 15px;
  gap: 30px;
  justify-content: flex-start;
  width: 85%;
}

.cart-row:nth-child(even){
  background:#efefef
}
.cart-table{
  padding-left: 9.8rem;
}
.product-name{
  font-size:16px;font-weight:600
}

.product-options{
  font-size:12px;
  margin-bottom:5px
}

.product-options span{
  color:#666;
  font-weight:400;
  text-transform:uppercase
}

.product-articlenr{
  color:#666;
  font-weight:400;
  width:300px;
}

.details{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
}
.product-price small{color:#666;font-weight:300;font-size:20px;margin:0;padding:0;line-height:initial}
.cart-table .cart-row input{width:30px;height:auto;padding:2px;border-radius:0;border-color:#000;float:left;font-size:14px;text-align:center}
.cart-table .cart-row button.update{border:0;padding:7px 8px;background:#000;color:#fff;font-size:9px;float:left;margin-right:5px}
.cart-table .cart-row button.delete{
  background-color: #FFB2B2;
    color: #000!important;
    padding: 7px 13px;
    font-size: 13px;
    border: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;

}
.product-price-total{
  font-size:16px;
  font-weight:400;
  width:80%;
}

.cart-actions{
  display:flex;
  justify-content:center;
  align-items:center
}

.cart-special-holder{
  background:#efefef;
}
.cart-special{
  padding:1em 1em 0;
  display:block;
  margin-top:.5em;
  border-top:1px solid #dadada
}

.cart-special .cart-special-content:before{
  content:"\21b3";
  font-size:1.5em;
  margin-right:1em;
  color:#6f6f6f;
  font-family:helvetica,arial,sans-serif
}

.qtySelector{
    border: 1px solid #ddd;
    width: 107px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.qtySelector .qtyValue{
	border: none;
  padding: 5px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.qtyValue{
  height: 100% !important;
  border-left: 1px solid #ccc !important;
  border-right: 1px solid #ccc !important;
}

.decreaseQty, .increaseQty{
  width: 50%;
  height: inherit;
  border: none;
  background: transparent;
  font-size: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.increaseQty{
  align-items: center;
}